[user]
        name = Certseeds
        email = 51754303+Certseeds@users.noreply.github.com
        signingkey = *
[commit]
        gpgsign = true
[alias]
        commits = commit -s
[core]
        editor = vim